.product__block .breadcrumbs.breadcrumbs--no-padding.product__breadcrumbs {
  margin: 0;
}

.product__block .product__title__wrapper h1 {
  line-height: 94%;
}

#app-embed-container-38340 ._formContainer_1qy88_30 {
  max-width: 700px;
}

#form-container-ref::slotted( ._formFieldset_g1wk8_68 ._horizontalLayout_171zd_12) {
  display: block;
}
