@font-face {
  font-family: 'Foundo_Headline';
  src: url('../fonts/Foundo-Headline.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foundo_Medium';
  src: url('../fonts/Foundo-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}